# Force GitHub to detect Kotlin and ignore HTML/CSS junk
*.kt linguist-detectable=true
*.kts linguist-detectable=true

*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
*.xml linguist-detectable=false
